// Чтобы подключить остальные scss файлы к main прописываем:
@import "./block/_footer";
@import "./block/_header";

// Миксины
@mixin canvas {
    padding: 20px;
    font-size: 21px;
}

// Создание переменной
$blue-color: #0000ff;
// & - вложенность!

.header {
    // использование миксина
    @include canvas
}

.header {
    background-color: #fff;
    & a {
        color: $blue-color;
    }
}

