html {
    box-sizing: border-box;
}

*, *::before, *::after {
    box-sizing: inherit;
    margin: 0;
}

a {
    color: inherit;
    text-decoration: none;
}

button {
    padding: 0;
    border: none;
    background-color: transparent;
    cursor: pointer;
}

.container {
    padding: 0px;
    margin: 0 auto;
}


.header-inner  {
    background: #313131;
    width: 100%;
    height: 72px;
    flex-shrink: 0;
}

.title-logo {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.main {
    background: #141415;
    width: 100%;
    height: 932px;
}

.main-title {
    color: #FFF;
    padding-top: 58px;
    padding-left: 38px;
    padding-right: 42px;
    text-align: center;
    font-family: Verdana;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.main-btn {
    width: 12px;
    height: 12px;
    flex-shrink: 0;
}

.main-btn-text {
    color: #51ACFF;
    text-align: ce;
    font-family: Verdana;
    font-size: 15px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.btn {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 53px;
}

.main-image {
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 25px;
}

.main-text {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 56px;
    padding-top: 51px;
    color: #fff;
    font-family: Verdana;
    margin: 28px;
}

ul {
     list-style: none;
}

.comp-one {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-bottom: 4px solid #EDBB99;

}

.comp-two {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-bottom: 4px solid #EDBB99;
}


.comp-three {
    justify-content: center;
    display: flex;
    align-items: center;
    flex-direction: column;
    border-bottom: 4px solid #EDBB99;
}

.symbol {
    padding: auto;
    font-size: 10px;
}

.num-1 {
    padding: 8px;
    font-size: 30px;
}

.name {
    padding: 8px;
    font-size: 10px;
}

.footer {
    background: #313131;
    flex-shrink: 0;
}

.footer-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 27px;
    padding-top: 48px;
}

.text-one {
    color: var(--template-3-vertical-divider, #7D7D7D);
    text-align: center;
    font-family: Verdana;
    font-size: 10px;
    font-style: normal;
    font-weight: 400;
    line-height: 18px; 
    margin-top: 38px;
}

.text-two {
    color: var(--template-3-vertical-divider, #7D7D7D);
    text-align: center;
    font-family: Verdana;
    font-size: 10px;
    font-style: normal;
    font-weight: 400;
    line-height: 18px;
    padding-top: 9px;
}

.footer-btn {
    color: var(--template-3-main-color, #51ACFF);
    font-family: Verdana;
    font-size: 10px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.siniy {
    
}

