* {
    font-family: 'Arimo', sans-serif;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 32px;
}

.header__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 88px;
    padding: 30px 0;
}

.header {
    background: #D9D9D9;
}
.logo {
    font-size: 28px;
}
.menu {
}
.header__list {
    display: flex;
    gap: 22px;
    font-size: 18px;
    font-weight: 400;
}

.header__item:nth-child(4) {
    padding-right: 68px;
}

.header__link {
}

.images {
    min-height: 507px;
    background: #EDEDED;
}
.title{
    text-align: center;
    padding-bottom: 230px;
    padding-top: 230px;
    font-size: 38px;
    font-weight: 400;
    position: relative;
}

.arrow__right {
    position: absolute;
    right: 0;
    top: 230px;
}

.arrow__left {
    position: absolute;
    left: 0;
    top: 230px;
}

/* .title::before {
    content: url('../prac/Polygon лево.svg'); 
    position: absolute;
    left: 0;
}

.title::after {
    content: url(../prac/Polygon\ право.svg);
    position: absolute;
    right: 0;
    top: 230px;
} */

.number {
    text-align: center;
    padding-bottom: 28px;
}

.about {
    margin-top: 60px;
    height: 700px;
}

.about__title {
    text-align: center;
    font-size: 36px;
    font-weight: 400;
}

.about__row {
    padding: 60px 0;
    display: flex;
    flex-wrap: wrap;
}

.about__column {
    flex: 1 1 50%;
}

.item__row {
    display: flex;
}
.item__image {
    flex: 0 0 585px;
}

.item__image img {
    border-radius: 7px;
}
.item__body {
    flex: 1 1 auto;
    padding-left: 30px;
}
.item__text {
    font-size: 20px;
    font-weight: 400;
    line-height: 25px;
}

.span {
    display: inline-block;
    width: 100%;
}

.masters {
    margin-top: 60px;
    height: 700px;
}

.masters__title {
    text-align: center;
    padding-bottom: 60px;
    font-size: 36px;
    font-weight: 400;
}

/* .masters__cards {
    max-width: 278px;
    min-height: 280px;
}

.masters__card {
}

.masters__card:hover {

}

.masters__card-image {
}
.masters__body {
    padding: 20px 0;
}
.masters__card-title {
    font-size: 28px;
    font-weight: 400;
}
.masters__card-text {
    padding-top: 13px;
    font-size: 16px;
    line-height: 21px;
    font-weight: 400;
}
.masters__card-price {
    padding-top: 13px;
    font-size: 28px;
    font-weight: 400;
} */

/* .masters__cards {
    display: flex;
    flex-wrap: wrap;
}
.masters__row {

}
.masters__card {
    min-height: 277px;
    max-width: 278px;
    padding-right: 30px;
}

.masters__card-image {
    padding-bottom: 18px;
}

.masters__card-image img{

    border-radius: 7px;
}
.masters__body {
}

.masters__card-title {
    padding-bottom: 13px;
    font-size: 28px;
    font-weight: 400;
}

.masters__text {
    padding-bottom: 13px;
    font-size: 16px;
    line-height: 21px;
    font-weight: 400;
}

.masters__price {
    font-size: 28px;
    font-weight: 400;
} */