* {
    font-family: 'Arimo', sans-serif;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 32px;
}

.header__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 88px;
    padding: 30px 0;
}

.header {
    background: #D9D9D9;
}
.logo {
    font-size: 28px;
}
.menu {
}
.header__list {
    display: flex;
    gap: 22px;
    font-size: 18px;
    font-weight: 400;
}

.header__item:nth-child(4) {
    padding-right: 68px;
}

.header__item:hover {
    opacity: .2;
}

.header__link {
}

.images {
    min-height: 507px;
    background: #EDEDED;
}
.title{
    text-align: center;
    padding-bottom: 230px;
    padding-top: 230px;
    font-size: 38px;
    font-weight: 400;
    position: relative;
}

.arrow__right {
    position: absolute;
    right: 0;
    top: 230px;
}

.arrow__right:hover {
    opacity: .2;
}

.arrow__left {
    position: absolute;
    left: 0;
    top: 230px;
}

.arrow__left:hover {
    opacity: .2;
}

/* .title::before {
    content: url('../prac/Polygon лево.svg'); 
    position: absolute;
    left: 0;
}

.title::after {
    content: url(../prac/Polygon\ право.svg);
    position: absolute;
    right: 0;
    top: 230px;
} */

.number {
    text-align: center;
    padding-bottom: 28px;
}

.about {
    padding-top: 60px;
    height: 700px;
}

.about__title {
    text-align: center;
    font-size: 36px;
    font-weight: 400;
}

.about__row {
    padding: 60px 0;
    display: flex;
    flex-wrap: wrap;
}

.about__column {
    flex: 1 1 50%;
}

.item__row {
    display: flex;
}
.item__image {
    flex: 0 0 585px;
}

.item__image img {
    max-width: 585px;
    min-height: 460px;
}
.item__body {
    flex: 1 1 auto;
    padding-left: 30px;
}
.item__text {
    font-size: 20px;
    font-weight: 400;
    line-height: 25px;
}

.span {
    display: inline-block;
    width: 100%;
}

.masters {
    margin-top: 60px;
    height: 700px;
}


/* .masters__cards {
    max-width: 278px;
    min-height: 280px;
}

.masters__card {
}

.masters__card:hover {

}

.masters__card-image {
}
.masters__body {
    padding: 20px 0;
}
.masters__card-title {
    font-size: 28px;
    font-weight: 400;
}
.masters__card-text {
    padding-top: 13px;
    font-size: 16px;
    line-height: 21px;
    font-weight: 400;
}
.masters__card-price {
    padding-top: 13px;
    font-size: 28px;
    font-weight: 400;
} */

/* .masters__cards {
    display: flex;
    flex-wrap: wrap;
}
.masters__row {

}
.masters__card {
    min-height: 277px;
    max-width: 278px;
    padding-right: 30px;
}

.masters__card-image {
    padding-bottom: 18px;
}

.masters__card-image img{

    border-radius: 7px;
}
.masters__body {
}

.masters__card-title {
    padding-bottom: 13px;
    font-size: 28px;
    font-weight: 400;
}

.masters__text {
    padding-bottom: 13px;
    font-size: 16px;
    line-height: 21px;
    font-weight: 400;
}

.masters__price {
    font-size: 28px;
    font-weight: 400;
} */

.subsribe {
    background: #D9D9D9;
    display: flex;
}
.subsribe__body {
    padding-top: 66px;
    padding-bottom: 80px;
}
.subsribe__title {
    padding-bottom: 31px;
    text-align: center;
    font-size: 36px;
    font-weight: 400;
}
.subsribe__inner {
    display: flex;
    position: relative;
}
.subsribe__email {
    background: #FFF;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px 22px;
    min-width: 220px;
}
.subsribe__email p {
    opacity: .3;
    font-size: 18px;
}

.subsribe__button {
    background: #A2A2A2;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 15px 55px;
    min-width: 220px;
    font-size: 18px;
}

.subsribe__button p:hover {
    transform: scale(1.25);
}

.reviews {
    margin-top: 60px;
    margin-bottom: 60px;
}
.reviews__title {
    text-align: center;
    margin-bottom: 60px;
    font-size: 36px;
    font-weight: 400;
}

.reviews__title img {
    max-width: 197px;
    max-height: 205px;
}
.reviews__column {
    display: flex;
    gap: 0 30px;
}
.reviews__row {
    display: flex;
    flex-direction: column;
}
.reviews__image {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 20px;
}
.reviews__name {
    text-align: center;
    padding-bottom: 20px;
}
.reviews__text {
    font-size: 16px;
    line-height: 21px;
    font-weight: 400;

}

/* -------------FOOTER------------- */

.footer {
    background: #D9D9D9;
}

.footer__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px;
}
.footer__logo {
    font-size: 28px;
    font-weight: 400;
    text-align: center;
}
.menu {
}
.footer__list {
    display: flex;
    gap: 22px;
}
.footer__item {
    font-size: 18px;
    font-weight: 400;
}

.footer__item:hover {
    opacity: .2;
}

.footer__item:nth-child(4) {
    padding-right: 252px;
}

.footer__link {
}