body {
    font-family: 'Montserrat', sans-serif;
    color: var(--text-color, #252B42);
    font-size: 14px;
    font-weight: 500;
}

.wrapper {
    min-height: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

._container {
    max-width: 1046px;
    margin: 0px auto;
    padding: 0 15px;
    box-sizing: content-box;
}

._ibg {
    position: relative;
}

._ibg img {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    object-fit: cover;
}

/* ----HEADER------------------------------- */

.header {
    position: absolute;
    width: 100%;
    left: 0;
    right: 0;
    z-index: 50;
}

.header__container {
    display: flex;
    min-height: 104px;
    align-items: center;
}

@media (max-width: 479px) {
    .header__container {
        min-height: 70px;
    }
}

.header__logo {
    font-size: 24px;
    font-weight: 700;
    color: inherit;
}

.header__menu {
    margin: 0 0 0 133px;
}

@media (max-width: 992px) {
    .header__menu {
        margin: 0 0 0 80px;  
    } 
}

@media (max-width: 767px) {
    .header__menu {
        margin: 0 0 0 40px;  
    } 
}

@media (max-width: 479px) {
    .header__menu {
        margin: 0 0 0 20px;  
    } 
}


.menu {
    padding: 5px 0;
}

.menu__list {
    display: flex;
    flex-wrap: wrap;
}

.menu__item {

}

.menu__item:not(:last-child) {
    margin: 0 21px 0 0;
}

.menu__link {
    color: #737373;
    font-weight: 600;
    line-height: calc(24 / 14 * 100%);
}

.menu__item:hover {
    transform: scale(1.25);
}

@media (max-width: 479px) {
    .menu__link {
        font-size: 18px;
    }
}

/* ----MAIN------------------------------- */

.main {
    flex: 1 1 auto;
}

.page__main-block {
}
.main-block {
    position: relative;
}
.main-block__container {
}
.main-block__body {
    padding: 184px 0 191px 0;
    position: relative;
    z-index: 2;
    max-width: 400px;
}

@media (max-width: 992px) {
    .main-block__body {
        padding: 120px 0 191px 0;
    }
}

.main-block__body > *:not(:last-child) {
    margin-bottom: 35px;
}
.main-block__title {
    font: 58px;
    line-height: calc(80 / 58 * 100%);
    font-weight: 800;
    letter-spacing: 0.2px;
}
.main-block__text {
    font-size: 20px;
    color: #737373;
    line-height: 150%;
}

@media (max-width: 479px) {
    .main-block__text {
        font-size: 42px;
    }
    .main-block__button {
        flex: 1 1 100%;
    }
    .main-block__text {
        color: #585858;
    }
}
.main-block__buttons {
    display: inline-flex;
    flex-wrap: wrap;
    margin: -10px 0;
}
.main-block__button {
    border-radius: 37px;
    min-height: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
    letter-spacing: 0.2px;
    color: #fff;
    font-weight: 700;
    text-align: center;
    line-height: 150%;
    padding: 5px 36px;
    margin: 10px 0;
}


@media (min-width: 479px) {
    .main-block__button:not(:last-child) {
        margin-right: 10px;
    }
}

.main-block__button_orange {
    background: #FF7B47;
    color: #fff;
}

.main-block__button_border {
    color: #0D5C63;
    border: 1px solid #0D5C63;
}

.main__block-image {    
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

@media (max-width: 1300px) {
    .main__block-image img{
        object-position: right;
    }
}

@media (max-width: 992px) {
    .main__block-image {
        opacity: 0.5;
    }
}

/* ------------------- */

.page__services {
}
.services {
}
.services__container {
}
.services__body {
    display: flex;
    margin: 0 -15px;
}
.services__column {
    padding: 0 15px;
    flex: 0 1 33.333%;
}
.services__item {
    box-shadow: 0px 13px 19px 0px rgba(0, 0, 0, 0.07);
    background-color: #fff;
    padding: 35px;
}
.item-service {
}

.item-service > *:not(:last-child) {
    margin-bottom: 10px;
}
.item-service-icon {
}
.item-service__title {
    letter-spacing: 0.1px;
    font-weight: 700;
    font-size: 24px;
    line-height: 133%;
}
.item-service__text {
    color: #737373;
    line-height: 142%;
}

/* ----FOOTER------------------------------- */

.footer {
}