@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    font-family: 'Poppins', sans-serif;
}

img {
    pointer-events: none;
}

.menu {
    max-width: 1080px;
    margin: 0 auto;
    padding: 2rem 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2rem;
}

.nav-logo {
    background: #101828;
    border-radius: 50%;
    display: flex;
    width: 45px;
    height: 45px;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.nav-logo:hover {
    transform: rotate(360deg);
    transition: all .6s ease-in-out;
}

.nav-links {
    display: flex;
    align-items: center;
    gap: 4rem;
}

.link {
    font-size: 16px;
    font-weight: 500;
    line-height: 26px;
    letter-spacing: 4.5%;
    position: relative;
}

.link::before {
    content: '';
    background-color: rgb(0, 109, 119);
    position: absolute;
    width: 0;
    top: 100%;
    height: 2px;
    transition: all .2s;
}

.link:hover::before {
    width: 100%;
}

.link.active {
    color: rgb(0, 109, 119)
}

.btn {
    background: rgb(16, 24, 40);
    color: #fff;
    padding: 12px 20px;
    border-radius: 47px;
    transition: all .3s ease-in-out;
}

.btn:hover {
    background: rgb(0, 109, 119);
}

.header {
    margin-top: 80px;
}

.container {
    max-width: 1080px;
    margin: 0 auto;
}

.header-inner {
    display: flex;
    align-items: center;
    gap: 120px;
}

.header-text-block {
    max-width: 600px;
}

.header-subtitle {
    color: rgb(152, 162, 179);
    font-size: 25px;
    font-weight: 600;
    line-height: 26px;
    margin-bottom: 30px;
}

.header-title {
    font-size: 50px;
    font-weight: 600;
    line-height: 60px;
    margin-bottom: 30px;
}

.header-text {
    color: rgb(71, 84, 103);
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 4.5%;
    margin-bottom: 30px;
}

.header-buttons {
    display: flex;
    gap: 2rem;
    margin-bottom: 40px;
}

.btn-1:hover {
    border-radius: 99px;
}

.btn-2:hover {
    border-radius: 99px;
}

.btn-1,
.btn-2 {
    transition: all .4s ease;
    border-radius: 4px;
}

.btn-1 {
    display: flex;
    gap: 1rem;
    align-items: center;
}

.btn-2 {
    display: flex;
    gap: 1rem;
    align-items: center;
}

.header-info {
    display: flex;
    gap: 4rem;
}

.info-card {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

.card-text-block {
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
    max-width: 110px;
}

.card-img {
    width: 70px;
    height: 70px;
    background-color: rgb(190, 225, 230);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
}

.big {
    font-size: 30px;
    font-weight: 600;
}

.small {
    color: rgb(152, 162, 179);
    font-size: 16px;
    font-weight: 400;
}

.header-image-block {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.blue-circle {
    position: absolute;
    top: -85px;
    right: 55px;
}

.pink-small {
    position: absolute;
    bottom: 0;
    left: 0;
}

.pink-big {
    position: absolute;
    top: 0;
    left: -50px;
}

.state {
    position: absolute;
    bottom: -70px;
    right: -110px;
}

.top {
    margin-top: 130px;
}

.top-inner {
    display: flex;
    gap: 3.1rem;
}

.top-card {
    padding: 20px 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.8rem;
    min-width: 350px;
    box-sizing: border-box;
    border: 1px solid rgb(228, 231, 236);
    border-radius: 6px;
    box-shadow: 0px 0px 1px 1px rgba(228, 231, 236, 0.15);
}

.top-text-block {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.desc {
    color: rgb(50, 58, 75);
    font-size: 16px;
    font-weight: 600;
    line-height: 20px;
}

.price {
    color: rgb(16, 24, 40);
    font-size: 16px;
    font-weight: 300;
    line-height: 20px;
}

.top-card:hover {
    transition: all .4s ease-in-out;
    border-color: #000;
    background: #eee;
}


.preorder {
    margin-top: 100px;
}

.preorder-main-title {
    text-align: center;
    color: rgb(16, 24, 40);
    font-size: 50px;
    font-weight: 600;
    line-height: 60px;
    margin-bottom: 60px;
}

.preorder-inner {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.preorder-card {
    padding: 25px 15px;
    max-width: 255px;
    display: flex;
    flex-direction: column;
    border: 1px solid rgb(228, 231, 236);
    border-radius: 6px;
    box-shadow: 0px 0px 1px 1px rgba(228, 231, 236, 0.15);
    position: relative;
}

.preorder-img {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 25px;
}

.preorder-img {}

.preorder-subtitle {
    margin-bottom: 5px;
    color: rgb(87, 96, 113);
    font-size: 12px;
    font-weight: 400;
    line-height: 26px;
}

.preorder-title {
    margin-bottom: 9px;
    color: rgb(50, 58, 75);
    font-size: 16px;
    font-weight: 600;
    line-height: 26px;
}

.stars {
    margin-bottom: 16px;
}

.preorder-bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.preorder-price {
    color: rgb(0, 109, 119);
    font-size: 18px;
    font-weight: 600;
    line-height: 26px;
}

.preorder-btn {
    display: flex;
    gap: 7px;
    padding: 6px 15px;
    border-radius: 6px;
    background: rgb(190, 225, 230);
}

.preorder-btn:hover {
    background: rgb(168, 189, 192);
    transform: scale(1.1);
    transition: all .4s;
}

.discount {
    position: absolute;
    top: 20px;
    left: 15px;
    padding: 3px 10px;

    border-radius: 25px;
    background: rgb(16, 24, 40);
    color: #fff;
    font-size: 10px;
    font-weight: 400;
    line-height: 26px;
    text-align: center;
}


.explore {
    margin-top: 115px;
}

.explore-title {
    text-align: center;
    color: rgb(16, 24, 40);
    font-size: 50px;
    font-weight: 600;
    line-height: 60px;
    margin-bottom: 25px;
}

.explore-subtitle {
    color: rgb(71, 84, 103);
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 4.5%;
    text-align: center;
    margin-bottom: 55px;
}

.explore-inner {
    display: flex;
    justify-content: space-between;
    gap: 35px;
}

.left-block {
    display: flex;
    flex-direction: column;
    padding: 40px 32px;
    border: 1px solid rgb(209, 218, 232);
    border-radius: 6px;
    box-shadow: 0px 3px 6px 0px rgba(219, 220, 222, 0.17);
    width: 475px;
}

.left-title {
    color: rgb(50, 58, 75);
    font-size: 30px;
    font-weight: 600;
    line-height: 26px;
    margin-bottom: 35px;
}

.left-cards-inner {
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.left-card {
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* border-bottom: 1px solid rgb(228, 231, 236); */
}

.left-desc {
    color: rgb(102, 112, 133);
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
}

.left-card-img {
    background: rgb(228, 231, 236);
    width: 34px;
    height: 34px;
    border-radius: 50%;
    color: rgb(0, 109, 119);
    font-size: 16px;
    font-weight: 500;
    line-height: 26px;
}

.line {
    width: 411px;
    height: 1px;
    background: rgb(228, 231, 236);
}

.right-block {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 0 30px;
}

.right-card {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
    padding: 25px 17px;

    border: 1px solid rgb(209, 218, 232);
    border-radius: 6px;
}

.right-card:nth-child(5) {
    height: 56px;
    padding: 12px 55px;
}

.right-card-img {
    background: rgb(206, 229, 217);
    width: 46px;
    height: 46px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
}

.right-desc {
    color: rgb(50, 58, 75);
    font-size: 14px;
    font-weight: 600;
    line-height: 26px;
}



.work {
    margin-top: 120px;
}

.how {
    display: inline-block;
    text-align: center;
    border-radius: 48px;
    background: rgb(255, 243, 234);
    margin-bottom: 40px;
}

.how p {
    padding: 8px 25px;
    color: rgb(226, 149, 120);
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
}

.work-title {
    color: rgb(16, 24, 40);
    font-size: 50px;
    font-weight: 600;
    line-height: 60px;
    text-align: center;
    margin-bottom: 60px;
}

.work-inner {
    display: flex;
    flex-direction: column;
    gap: 130px;
}

.work-top {
    display: flex;
    gap: 130px;
    position: relative;
}

.work-top-card {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-radius: 8px;
    padding: 45px 60px;
    max-width: 285px;
}

.work-top-card.cream {
    background: rgb(255, 243, 234);
}

.work-top-card.pink {
    background: rgb(253, 226, 228);
}

.work-top-card.green,
.work-bottom-card.green {
    background: rgb(219, 236, 229);
}

.work-bottom-card.blue {
    background: rgb(209, 236, 253);
}

.card-top-img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 22px;
}

.top-title {
    color: rgb(30, 37, 52);
    font-size: 32px;
    font-weight: 500;
    line-height: 26px;
    margin-bottom: 35px;
}

.top-text {
    color: rgb(102, 112, 133);
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    text-align: center;
}

.arrow-top-img-1 {
    position: absolute;
    left: 310px;
    top: 50%;
}

.arrow-top-img-2 {
    position: absolute;
    right: 270px;
    top: 50%;
}

.zig-zag {
    bottom: -150px;
    position: absolute;
    right: 50px;
}

.work-bottom {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 130px;
}

.work-bottom-card {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-radius: 8px;
    padding: 45px 60px;
    max-width: 285px;
}

.card-bottom-img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 22px;
}

.bottom-title {
    color: rgb(30, 37, 52);
    font-size: 32px;
    font-weight: 500;
    line-height: 26px;
    margin-bottom: 35px;
}

.bottom-text {
    color: rgb(102, 112, 133);
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    text-align: center;
}

.arrow-bottom-img {
    position: absolute;
}



.subscribe {
    margin-top: 130px;
}

.subscribe-inner {
    display: flex;
    border-radius: 12px;
    box-shadow: 0px 7px 20px 0px rgba(0, 0, 0, 0.15);
    background: rgb(0, 109, 119);
    position: relative;
    padding-left: 45px;
    padding-right: 45px;
    gap: 130px;
}

.subscribe-text-block {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.subscribe-title {
    color: rgb(255, 255, 255);
    font-size: 40px;
    font-weight: 500;
    line-height: 50px;
    margin-bottom: 10px;
}

.subscribe-text {
    color: rgb(255, 255, 255);
    font-size: 16px;
    font-weight: 300;
    line-height: 26px;
    letter-spacing: 4.5%;
    margin-bottom: 20px;
}

.subscribe-email {
    border-radius: 53px;
    box-shadow: 0px 0px 11px 1px rgba(194, 194, 194, 0.06);
    background: rgb(255, 255, 255);
    padding: 15px 20px;
    max-width: 360px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.email {
    color: rgb(121, 121, 121);
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 2%;
}

.arrow {
    width: 45px;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    cursor: pointer;
    box-shadow: 0px 0px 14px 5px rgba(0, 0, 0, 0.1);
    background: rgb(0, 109, 119);
    margin-left: 140px;
}

.arrow:hover {
    background: rgba(0, 109, 119, 0.479);
    box-shadow: 0px 0px 18px 7px rgba(0, 0, 0, 0.1);
    transition: all .4s;
}

.subscribe-img-block {}

.subscribe-main {
    transform: translateY(58px);
}

.subscribe-state {
    position: absolute;
    bottom: 30px;
    right: 315px;
}


.footer {
    margin-top: 130px;
}

.footer-inner {
    display: flex;
    flex-direction: column;
}

.footer-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 40px;
}

.footer-img {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.img {
    background: #101828;
    border-radius: 50%;
    display: flex;
    width: 52px;
    height: 52px;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.agon {
    color: rgb(16, 24, 40);
    font-size: 30px;
    font-weight: 600;
    line-height: 26px;
}

.footer-top-inner {
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: center;
}

.question {
    color: rgb(16, 24, 40);
    font-size: 16px;
    font-weight: 500;
    line-height: 26px;
}

.footer-top-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 11px;
    padding: 12px 23px;
    border-radius: 38px;
    background: rgb(16, 24, 40);
    color: #fff;
    font-size: 16px;
    font-weight: 500;
    line-height: 26px;
}

.linia {
    width: 100%;
    height: 2px;
    background: rgb(214, 216, 221);
}

.footer-middle {
    display: flex;
    justify-content: space-between;
    padding: 45px 0;
}

.column {
    display: flex;
    flex-direction: column;
}

.footer-middle-title {
    color: rgb(16, 24, 40);
    font-size: 18px;
    font-weight: 500;
    line-height: 26px;
    margin-bottom: 10px;
}

.column-text {
    max-width: 203px;
    color: rgb(150, 150, 150);
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 2%;
    margin-bottom: 7px;
}

.number {
    color: rgb(68, 78, 98);
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    margin-bottom: 3px;
    letter-spacing: 2%;
}

.footer-link {
    color: rgb(75, 180, 255);
    margin-bottom: 15px;
}

.footer-link:hover {
    text-decoration: underline;
}

.socials {
    display: flex;
    align-items: center;
    gap: 18px;
}

.footer-bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 25px 0;
}

.official {
    color: rgb(150, 150, 150);
    font-size: 18px;
    font-weight: 500;
    line-height: 26px;
}

.more {
    display: flex;
    gap: 1rem;
}

.more-item {
    color: rgb(150, 150, 150);
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
}