* {
  font-family: "Roboto", sans-serif;
}

.container {
  max-width: 1150px;
  margin: 0 auto;
}

.header__top {
  background-color: rgb(193, 203, 231);
  height: 60px;
}

.header__top-inner {
  display: flex;
  justify-content: center;
  padding-top: 15px;
}
.header__top-inner p {
  font-size: 20px;
  font-weight: 400;
  line-height: 30px;
}

.header .container {
  max-width: 1150px;
  margin: 0 auto;
}
.header .container nav {
  margin-top: 40px;
}
.header .container nav ul {
  display: flex;
  justify-content: center;
  gap: 60px;
}
.header .container nav ul li {
  font-size: 18px;
  font-weight: 400;
  line-height: 22px;
}

.header__bottom {
  margin-top: 100px;
}

.header__bottom__inner {
  display: flex;
  gap: 140px;
}

.header__bottom-text-block {
  display: flex;
  flex-direction: column;
}

.header__bottom-text-title {
  font-size: 80px;
  font-weight: 400;
  line-height: 87.2px;
}

.header__bottom-text {
  margin-top: 40px;
  font-size: 20px;
  font-weight: 400;
  line-height: 30px;
}

.header__bottom-text-btn {
  width: 400px;
  height: 60px;
  border-radius: 50px 0px 0px 50px;
  background-color: rgb(252, 208, 186);
  text-align: right;
  margin-top: 45px;
}
.header__bottom-text-btn p {
  background-color: #000;
  color: #fff;
}

.header__bottom-text-price {
  margin-top: 50px;
  font-size: 18px;
  font-weight: 400;
  line-height: 22px;
  max-width: 300px;
  padding-left: 100px;
}

.span__block {
  display: flex;
  gap: 20px;
  padding-top: 30px;
}

.rect-1 {
  width: 110px;
  background: rgb(0, 0, 0);
  height: 2px;
}

.rect-2 {
  width: 110px;
  background-color: rgb(252, 208, 186);
  height: 2px;
}

.header__bottom-text-footer {
  padding-top: 80px;
  font-size: 13px;
  font-weight: 400;
  line-height: 16px;
}

.helping {
  margin-top: 60px;
  padding-top: 60px;
  background-color: #000;
}

.helping__inner {
  display: flex;
  gap: 52px;
  padding-bottom: 60px;
}

.helping__text-block {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}

.text {
  color: #fff;
  font-size: 20px;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 1px;
  text-align: center;
  text-transform: uppercase;
}

.mil {
  margin-top: 25px;
}
.mil p {
  color: #fff;
  position: absolute;
  top: 47%;
  left: 100px;
  font-size: 56px;
  font-weight: 400;
  line-height: 64px;
  letter-spacing: 1px;
  text-align: center;
}

.product {
  padding-top: 240px;
}

.product__container {
  max-width: 1000px;
  margin: 0 auto;
}

.product__title {
  text-align: center;
  font-size: 19px;
  font-weight: 400;
  line-height: 26.88px;
  letter-spacing: 1px;
}

.product__subtitle {
  text-align: center;
  font-size: 55px;
  font-weight: 400;
  line-height: 66px;
}

.product__inner {
  padding-top: 80px;
  display: flex;
  flex-direction: column;
  gap: 35px;
}

.card-one {
  display: flex;
  gap: 50px;
  width: 960px;
  height: 538px;
  border-radius: 12px;
  background: rgb(252, 208, 186);
}

.card__image {
  padding-top: 95px;
  padding-left: 77px;
}

.card__text-block {
  gap: 30px;
  max-width: 335px;
  padding-top: 80px;
  display: flex;
  flex-direction: column;
}

.card__title {
  font-size: 20px;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.card__text {
  font-size: 45px;
  font-weight: 400;
  line-height: 48px;
  text-align: left;
}

.card__list {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.card__list .card__item {
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
}
.card__list .card__item span {
  padding-left: 20px;
  text-align: center;
}

.card-two {
  display: flex;
  gap: 50px;
  width: 960px;
  height: 650px;
  border-radius: 12px;
  background: rgb(252, 208, 186);
}

.card__link {
  width: 142px;
  border-radius: 40px;
  background: rgb(255, 255, 255);
}

.card__link button {
  padding: 6px 30px;
  background: transparent;
  font-size: 12px;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: 1px;
}

.card__button {
  background: #000;
  width: 159px;
  border-radius: 50px;
}

.card__button button {
  color: #fff;
  background: transparent;
  padding: 15px 42px;
  font-size: 16px;
  font-weight: 400;
}/*# sourceMappingURL=main.css.map */