@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

* {
    font-family: 'Inter', sans-serif;
}

.container {
    max-width: 1440px;
    margin: 0 auto;
}

.header__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 30px;
    padding-bottom: 30px;
}

.menu__list {
    display: flex;
    align-items: center;
}

.menu__item:not(:last-child) {
    margin-right: 20px;
}

.desc {
    margin-top: 60px;
}

.cart img:hover {
    transition: all .4s ease;
    opacity: .5;
    border-radius: 10px;
}

.desc__wrapper {
    display: flex;
    gap: 237px;
}

.desc__text-block {
    display: flex;
    flex-direction: column;
    max-width: 588px;
}

.desc__title {
    color: rgb(39, 34, 33);
    font-size: 48px;
    font-weight: 800;
    line-height: 130%;
    margin-bottom: 20px;
}

.desc__text {
    color: rgb(64, 57, 55);
    font-size: 20px;
    font-weight: 400;
    line-height: 130%;
    margin-bottom: 60px;
}

.desc__services {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 20px 40px;
    max-width: 567px;
    max-height: 84px;
    margin-bottom: 100px;
}

.text {
    color: rgb(87, 79, 77);
    font-size: 16px;
    font-weight: 400;
    line-height: 130%;
}

.desc__services-item {
    display: flex;
    align-items: center;
    gap: 15px;
}


.kinds {
    margin-top: 70px;
}

.kinds__title {
    color: rgb(64, 57, 55);
    font-size: 32px;
    font-weight: 800;
    line-height: 130%;
    text-align: left;
    margin-bottom: 65px;
}

.kinds__wrapper {}

.kinds__inner {
    display: flex;
    flex-wrap: wrap;
    gap: 40px 35px;
}

.kinds__cart {
    border-radius: 6px 36px 6px 36px;
    background: rgb(243, 242, 242);
    display: flex;
    flex-direction: column;
    max-width: 300px;
    align-items: center;
}

.kinds__image {
    text-align: center;
    transform: translateY(-25px);
}

.kinds__image img:hover {
    transform: translateY(-12px);
    transition: all .7s ease;
}

.kinds__subtitle {
    text-align: center;
    border-radius: 100px;
    background: rgb(241, 233, 201);
    color: rgb(196, 127, 23);
    font-size: 10px;
    font-weight: 700;
    line-height: 130%;
    text-transform: uppercase;
    padding: 4px 8px;
    margin-bottom: 16px;
    display: flex;
    gap: 15px;
}

.kinds__cart-title {
    color: rgb(64, 57, 55);
    font-size: 20px;
    font-weight: 700;
    line-height: 130%;
    text-align: center;
    margin-bottom: 10px;
}

.kinds__cart-text {
    text-align: center;
    color: rgb(141, 134, 134);
    font-size: 14px;
    font-weight: 400;
    line-height: 130%;
    margin-bottom: 30px;
}

.kinds__cart-bottom {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    margin-bottom: 24px;
}

.price {
    color: rgb(87, 79, 77);
    font-size: 24px;
    font-weight: 800;
    line-height: 130%;
    text-align: left;
}

.valute {
    font-size: 16px;
    margin-right: 5px;
    text-align: center;
    font-weight: 500;
}

.count {
    display: flex;
    align-items: center;
    gap: 12px;
    border-radius: 6px;
    background: rgb(230, 229, 229);
    padding: 8px 10px;
    font-size: 16px;
}

.minus-btn {
    color: rgb(75, 41, 149);
    font-size: 18px;
}

.current-count {}

.plus-btn {
    color: rgb(75, 41, 149);
    font-size: 18px;
}

.kinds__btn img:hover {
    transform: scale(1.15);
    border-radius: 8px;
    transition: all .3s ease-in;
}