* {
    font-family: 'Roboto', sans-serif;
}

.header__top {
    background-color: rgb(193, 203, 231);
    height: 60px;
}

.header__top-inner {
    display: flex;
    justify-content: center;

    & p {

    }
}

