фhtml {
    box-sizing: border-box;
}

*, *::before, *::after {
    box-sizing: inherit;
    margin: 0;
}

a {
    color: inherit;
    text-decoration: none;
}

button {
    padding: 0;
    border: none;
    background-color: transparent;
    cursor: pointer;
    background: #00A4E5;
    width: 150px;
    height: 40px;
    flex-shrink: 0;
}

.container {
    padding: 0px;
    margin: 0 auto;
}

ul {
    list-style: none;
}

.header {
    background-image: url(./bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 940px;
    flex-shrink: 0;
}

.header-logo {
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-title {
    margin-top: 381px;
    text-align: center;
    color: #FFF;
    font-family: BebasNeueBold, sans-serif;
    font-size: 60px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 5.709px;
}

.header-text {
    text-align: center;
    margin-top: 21px;
    color: #FFF;
    font-family: OpenSans, sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.scroll {
    color: #FFF;
    margin-top: 221px;
    text-align: center;
    font-family: OpenSans, sans-serif;
    font-size: 11px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: 4.7px;
}

.main {

}

.header-inner {
    width: 100%;
    height: 65px;
    flex-shrink: 0;
    border-bottom: 1px solid #E6E6E6;
    background: #ffffff;
}

.header-items {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 24px;
}

.items {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 42px;
    padding-left: 450px;
    color: #48555B;
    font-family: OpenSans;
    font-size: 12px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: 1.091px;
}

.siniy {
    color: #00A4E5;
    font-family: OpenSans;
    font-size: 12px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 1.091px;
}

.about {
    width: 941px;
    height: 344px;
    flex-shrink: 0;
    margin: 58px 255px 118px 370px;
    background: #ffffff;
}

.about-title {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #48555B;
    text-align: center;
    font-family: OpenSans;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 2.306px;
}

.stroke {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 10px;
}

.about-text {
    display: flex;
    width: 405.076px;
    height: 81px;
    flex-direction: column;
    justify-content: flex-start;
    flex-shrink: 0;
    padding-top: 72px;
}

.founded {    
    color: #48555B;
    font-family: OpenSans;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.188px;
    padding-bottom: 30px;
}

.konstruct {
    color: #16ACE8;
    font-family: OpenSans;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.17px;
}

.lorem {
    flex-shrink: 0;
    color: #48555B;
    font-family: OpenSans;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: 23px; /* 176.923% */
    letter-spacing: 0.188px;
}

.about-images {
    display: flex;
    align-items: right;
    justify-content: right;
    flex-wrap: wrap;
    gap: 18px;
    transform: translateY(-90px);
}

.images-title-one {
    background-image: url(./Bitmap.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 140px;
    height: 200px;
}

.images-title-two {
    background-image: url(./Bitmap\ \(1\).png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 140px;
    height: 200px;
}

.images-title-three {
    background-image: url(./Bitmap\ \(2\).png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 140px;
    height: 200px;
}

.images-title-one p {
    color: #FFF;
    text-align: center;
    font-family: OpenSans;
    font-size: 24px;
    font-style: normal;
    font-weight: 800;
    line-height: 29px; /* 120.833% */
    letter-spacing: 0.188px;
}

.images-title-two p {
    display: flex;
    text-align: center;
    color: #FFF;
    font-family: OpenSans;
    font-size: 24px;
    font-style: normal;
    font-weight: 800;
    line-height: 29px; /* 120.833% */
    letter-spacing: 0.188px;
}

.images-title-three p {
    color: #FFF;
    display: flex;
    justify-content: center;
    font-family: OpenSans;
    font-size: 24px;
    font-style: normal;
    font-weight: 800;
    line-height: 29px; /* 120.833% */
    letter-spacing: 0.188px;
}

.services {
    width: 940px;
    height: 446px;
    flex-shrink: 0;
    margin: 58px 255px 118px 370px;
}

.services-items {
    background: #ffffff;
}

.services-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.services-title {
    color: #48555B;
    font-family: OpenSans;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 2.306px;
}

.services-btn {
    display: flex;
    align-items: right;
    justify-content: right;
    padding-left: 32px;
}

.btn-text {
    color: #FFF;
    font-family: OpenSans;
    font-size: 13px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.5px;
}

.services-text {
    padding-left: 135px;
    display: flex;
    width: 405.404px;
    height: 38px;
    flex-direction: column;
    justify-content: center;
    flex-shrink: 0;
    color: #48555B;
    font-family: OpenSans;
    font-size: 11px;
    font-style: normal;
    font-weight: 400;
    line-height: 19px; /* 172.727% */
    letter-spacing: 0.2px;
}

.services-content {
    height: 446px;
    display: flex;
    gap: 28px;
    padding-top: 78px;
}

.services-items-one {
    width: 295px;
    height: 315px;
    flex-shrink: 0;
    border: 1px solid #E6E6E6;
    background: #FFF;
}

.services-items-two {
    width: 295px;
    height: 315px;
    flex-shrink: 0;
    border: 1px solid #E6E6E6;
    background: #FFF;
}

.services-items-three {
    width: 295px;
    height: 315px;
    flex-shrink: 0;
    border: 1px solid #E6E6E6;
    background: #FFF;
}

.project {
    color: #48555B;
    font-family: OpenSans;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 24px; /* 150% */
    letter-spacing: 0.427px;
    display: flex;
    padding-left: 22px;
}

.services-lorem {
    color: #48555B;
    font-family: OpenSans;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: 23px; /* 176.923% */
    letter-spacing: 0.188px;
    display: flex;
    padding-left: 22px;
    padding-bottom: 39px;
    padding-top: 13px;
}

.services-items-img {
    padding: 38px 206px 25px 23px;
}

.git {
    margin-top: 235px;
    width: 100%;
    height: 498.24px;
    flex-shrink: 0;
    background-image: url(./bg\ \(1\).png);
    background-repeat: no-repeat;
    background-size: cover;
}

.git-title {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #48555B;
    font-family: OpenSans;
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
    line-height: 36px; /* 120% */
    letter-spacing: 0.15px;
}

.git-btn {
    display: flex;
    justify-content: center;
    padding-top: 46px;
}

.git-btn-text {
    color: #FFF;
    text-align: center;
    font-family: OpenSans;
    font-size: 13px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.5px;
}

.newsletter {
    width: 100%;
    height: 100px;
    flex-shrink: 0;
    background: #171819;
}

.news-items {
    width: 685px;
    height: 40px;
    flex-shrink: 0;
    display: flex;
    align-self: center;
    justify-content: center;
    padding: 35px 70px 35px 378px;
}

.news-title {
    color: #FFF;
    text-align: center;
    font-family: OpenSans;
    font-size: 22px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.846px;
    padding-right: 70px;
}

.form {
    
}

.form-text {
    width: 250px;
    height: 35px;
    flex-shrink: 0;
    border: 1px solid #979797;
    background: #FFF;
}

.news-btn {
    color: #FFF;
    text-align: center;
    font-family: OpenSans;
    font-size: 13px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.5px;
}

.footer {
    background: #141A20;
    width: 100%;
    height: 240px;
    flex-shrink: 0;
}

.company {
    flex-wrap: wrap;
    display: flex;
    padding: 42px 50px 42px 250px;
}

.company-title {
    color: #FFF;
    text-align: center;
    font-family: OpenSans;
    font-size: 11px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.846px;
}

.company-logo {
    padding-top: 29px;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
}

.company-text {
    display: flex;
    align-items: flex-start;
    padding-top: 18px;
    color: #FFF;
    font-family: OpenSans;
    font-size: 11px;
    font-style: normal;
    font-weight: 400;
    line-height: 19px; /* 172.727% */
    letter-spacing: 0.85px;
}