* {
    font-family: 'Roboto', sans-serif;
}

.free {
    min-height: 55px;
    background: rgb(25, 103, 210);
}

.free__inner {
    display: flex;
    justify-content: center;
}

.free__text {
    padding: 18px 3px 21px 362px;
    color: #fff;
    text-align: center;
}

.free__text2 {
    padding: 18px 337px 21px 3px;
    color: #fff;
    text-align: center; 
}

.header {
    min-height: 56px;
}
.container {
    max-width: 1240px;
    margin: 0 auto;
}
.header__list {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    padding-top: 20px;
}

.header__item:nth-child(9) {
    margin-right: 385px;
}

.header__item {
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
}

.header__item:hover:not(:first-child) {
    opacity: 0.5;
    text-decoration: underline;
    transition: all .3s ease;
}

.header__link {
}

.gifts__image img{
    max-width: 100%;
    min-height: 600px;
}

.gifts {
    height: 1500px;
}
.gifts__inner {
}
.gifts__image {
    position: relative;
    z-index: 0;
}
.gifts__container {
    max-width: 1000px;
    margin: 0 auto;
}
.gifts__block {
    position: absolute;
    top: 400px;
    max-width: 320px;
}
.gifts__title {
    color: rgb(60, 64, 67);
    font-size: 57px;
    font-weight: 400;
    line-height: 68px;
    letter-spacing: 2px;

}
.gifts__text {
    padding-top: 22px;
    color: rgb(60, 64, 67);
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
}
.gifts__button {
    padding-top: 22px;
}

.gifts__button button {
    border: 2px solid rgb(60, 64, 67);
    border-radius: 4px;
    background: transparent;
    padding: 8px 20px;
}

.gifts__button span {
    padding-left: 22px;
    color: rgb(60, 64, 67);
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
}
