.inline li {
    display: flex;
}

.box {
    width: 32%;
    border: 1px solid black;
    background: #f4f4f4;
    display: inline-block;
    box-sizing: border-box;
}

.image {
    display: flex;
    width: 200px;
    margin: 40px auto;
}

.form h2{
    text-align: center;
}

/* position */

.playground {
    position: relative;
    padding: 30px;
    border: 4px solid black;
    height: 300px;
}

.pos-box {
    position: absolute;
    top: 0;
    left: 0;
    width: 50px;
    height: 50px;
    background: cornflowerblue;
}

.navbar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 2;
}

.header {
    margin-top: 55px;
}