/* body {
    font-family: sans-serif;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: black;
}

.outer-circle {
    position: relative;
    height: 200px;
    width: 200px;
    background: linear-gradient(#14ffe9, #ffeb3b, #ff00e0);
    border-radius: 50%;
    animation: rotate 1.5s linear infinite;
}

.outer-circle span {
    position: absolute;
    height: 200px;
    width: 200px;
    background: linear-gradient(#14ffe9, #ffeb3b, #ff00e0);
    border-radius: 50%;
}

span:nth-child(1) {
    filter: blur(5px);
}

span:nth-child(2) {
    filter: blur(10px);
}

span:nth-child(3) {
    filter: blur(25px);
}

span:nth-child(4) {
    filter: blur(150px);
}

.inner-circle {
    height: 180px;
    width: 180px;
    position: absolute;
    background: #000;
    top: 10px;
    left: 10px;
    border-radius: 50%;
    z-index: 9;
}

@keyframes rotate {
    0% {
        filter: hue-rotate(0deg);
    }
    100% {
        filter: hue-rotate(360deg);
    }
} */

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding-top: 20px;
}
.columns {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.columns__title {
    text-align: center;
    margin-bottom: 45px;
    font-size: 36px;
    font-weight: 400;
}
.columns__row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.columns__image {
    max-width: 278px;
    max-height: 278px;
}
.columns__body {
    padding-top: 18px;
    max-width: 278px;
    max-height: 278px;
}
.columns__card-title {
    padding-bottom: 18px;
}
.columns__text {
    padding-bottom: 18px;
}
.columns__price {
}