* {
    font-family: 'Montserrat', sans-serif;
}

.container {
    max-width: 1500px;
    margin: 0 auto;
}

.header {

}

.header__list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 70px 0;
}

.header__item {
    font-size: 28px;
    font-weight: 400;
}

.header__link {
}



.main__image{
    display: flex;
    justify-content: center;
    align-items: center;
}

.info {
}

.info__inner {
    margin-top: 100px;
}

.info__text {
    text-align: center;
}

.info__text p{
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
}

.info__button {
    margin-top: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid #000;
    padding: 35px 0;
}

.info__button button {
    background: transparent;
    font-size: 20px;
    font-weight: 400;
}

.about {
}

.about__inner {
    margin-top: 100px;
}
.about__title {
    font-size: 40px;
    font-weight: 400;
    letter-spacing: 5px;
}
.about__text {
    padding-top: 40px;
    display: flex;
    max-width: 1000px;
}

.about__text p{
    font-size: 20px;
    font-weight: 400;
}

.about__images {
    padding-top: 40px;
    display: flex;
    gap: 8px;
}

.about__images img {
    max-width: 1026px;
}

.services {
    margin-top: 100px;
}
.services__title {
    font-size: 50px;
    font-weight: 400;
    letter-spacing: 5px;
}

.services__inner {
    margin-top: 100px;
}

.services__item {
    border: 2px solid #000;
    margin-top: 100px;
}
.services__item-title {
    text-align: center;
    font-size: 28px;
    padding-top: 30px;
    font-weight: 500;
}
.services__list {
    padding: 40px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.services__text {
    font-size: 20px;
    font-weight: 400;
    padding: 10px;
}

.services__price {
    text-align: center;
    font-size: 28px;
    padding: 30px 0;
    font-weight: 500;
}

.portfolio {
    margin-top: 100px;
}


.portfolio__title {
    font-size: 50px;
    font-weight: 400;
    letter-spacing: 5px;
}
.portfolio__text {
    margin-top: 60px;
    font-size: 30px;
    font-weight: 500;
}

.portfolio__image {
    margin-top: 50px;
}

.portfolio__image img{
    max-width: 1026px;
}

.portfolio__button {
    margin-top: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid #000;
    padding: 35px 0;
}

.portfolio__button button{
    background: transparent;
    font-size: 20px;
    font-weight: 400;
}

.portfolio__main {
    margin-top: 120px;
    font-size: 30px;
    font-weight: 500;
}
.portfolio__main-image {
}

.FAQ {
    margin-top: 100px;
}

.FAQ__title {
    font-size: 50px;
    font-weight: 400;
}
.FAQ__item {
    margin-top: 50px;
}
.FAQ__line {
    display: flex;
    flex-direction: column;
    width: 1500px;
    height: 2px;
    background-color: #000;
}
.FAQ__text {
    padding: 30px 0;
    font-size: 20px;
    font-weight: 400;
}

.FAQ__text-1::after {
    content: ' \002b';
    padding-left: 635px;
}

.FAQ__text-2::after {
    content: ' \002b';
    padding-left: 787px;
}

.FAQ__text-3::after {
    content: ' \002b';
    padding-left: 681px;
}

.contacts {
    margin-top: 100px;
}

.contacts__title {
    font-size: 50px;
    font-weight: 400;
}
.contacts__button {
    margin-top: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid #000;
    padding: 35px 0;
}

.contacts__button button {
    background: transparent;
    font-size: 25px;
    font-weight: 500;
}

.btn {
}

