body {
    max-height: 100vh;
    background-image: url(../tea/images/bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: left;
    font-family: 'Montserrat', sans-serif;
}

header {
    padding: 20px 100px;
    background-color: #000000;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.logo {
    font-size: 32px;
    color: #fff;
    font-weight: 700;
}

.navbar a{
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    margin-left: 40px;
    position: relative;
}

.navbar a::before {
    content: '';
    width: 0;
    height: 2px;
    background-color: #fff;
    position: absolute;
    top: 100%;
    left: 0;
}

.navbar a:hover::before {
    transition: .3s;
    width: 100%;
}