* {
    font-family: 'Montserrat', sans-serif;
}

.header {
    background-color: #fff;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.1);
    border-radius: 60px;
    margin: 0 300px;
}
.container {
    max-width: 1180px;
    margin: 0 auto;
}
.header__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.header__logo {

}
.menu {
}
.menu__list {
}
.menu__item {
}
.menu__link {
}
.menu__btn {
}