* {
    font-family: 'Montserrat', sans-serif;
}

.image-container {
    background-image: url(../vpn/images/Frame\ 24.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 823px;
}

.header {
    margin: 0 300px;
    padding-top: 60px;
}

.container {
    max-width: 1180px;
    margin: 0 auto;
}
.header__inner {
    background-color: #fff;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.header__logo {
    padding-left: 51px;
}

.spectator {
    background: rgba(0, 0, 0, 0.1);
    height: 44px;
    width: 1px;
}

.logo__text {
    padding-left: 10px;
    padding-top: 45px;
    font-size: 27px;
}

.menu {
}
.menu__list {
    display: flex;
    align-items: center;
    gap: 30px;
    padding: 30px 0;
}
.menu__item {
    font-size: 14px;
    line-height: 21px;
    font-weight: 400;
    opacity: 1;
}

.menu__item:hover {
    opacity: .5;
}

.menu__item:not(:last-child) {
}

.menu__item:nth-child(4) {
    padding-right: 150px;
}

.menu__item:nth-child(6) {
    font-size: 14px;
    font-weight: 600;
    line-height: 21px;
}

.menu__link {
}
.btn {
    border-radius: 30px;
    background: linear-gradient(154.05deg, rgb(235, 183, 79) 10.654%,rgb(221, 152, 82) 52.899%,rgb(192, 144, 239) 96.729%);
    padding: 10px 30px;
    color: #fff;
    font-size: 14px;
    font-weight: 600;
    line-height: 22px;
    margin-right: 25px;
}

.btn:hover {
    opacity: .7;
}

.btn span {
    padding-left: 8px;
}

.header__info {
    margin-top: 100px;
}

.header__info-text--one {
    max-width: 410px;
    font-size: 46px;
    color: #fff;
    font-weight: 600;
    line-height: 60px;
}

.header__info-text--one span {
    color: rgb(78, 125, 245)
}

.header__info-text--two {
    padding-top: 45px;
    max-width: 360px;
    font-size: 14px;
    line-height: 21px;
    color: #fff;
    font-weight: 400;
}
.header__info-btn {
    padding-top: 57px;
}

.main {
}
.mining {
    margin-top: 100px;
}

.mining__block {
    display: flex;
    max-width: 1170px;
    min-height: 400px;
}
.mining__row {
    display: flex;
}
.mining__item {
    max-width: 550px;
    margin-right: 130px;
}
.mining__item-text--one {
    color: rgb(51, 51, 51);
    font-size: 56px;
    font-weight: 700;
    line-height: 64px;
}

.mining__item-text--two {
    color: rgb(153, 153, 153);
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    padding-top: 60px;
    padding-bottom: 55px;
}

.mining__item--icon {
    padding-top: 40px;
    padding-bottom: 20px;
}


.mining__item--icon-text {
    color: rgb(153, 153, 153);
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    padding-left: 10px;
}

.mining__row-two {
}

.mining__item-two {
}

.mining__item-two-img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background-color: #0076FF;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: translateX(20px);
}

.mining__item-two__title {
    padding-top: 15px;
    color: rgb(51, 51, 51);
    font-size: 24px;
    font-weight: 700;
    line-height: 32px;
    padding-left: 20px;
}

.mining__item-two__text {
    color: rgb(153, 153, 153);
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    padding-top: 7px;
    padding-left: 20px;
    padding-bottom: 5px;
}

.start {
    margin-top: 120px;
}

.start__inner {
}

.start__title {
    text-align: center;
    color: rgb(51, 51, 51);
    font-size: 56px;
    font-weight: 700;
    line-height: 64px;
}

.start__text {
    margin-top: 30px;
    text-align: center;
    color: rgb(51, 51, 51);
    font-size: 20px;
    font-weight: 400;
    line-height: 32px;
}

.services {
    margin-top: 21px;
}

.services__block {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 72px;
}

.services__inner {
    display: flex;
}

.services__item {
    display: flex;
    padding-right: 60px;
}

.services__image {
    background-color: rgb(238, 238, 238);
    min-width: 70px;
    height: 70px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 30px;
    transform: translateY(-18px);
}

.services__image img {
    width: 48px;
    height: 48px;
}

.services__body {
}

.services__title {
    color: rgb(51, 51, 51);
    font-size: 24px;
    font-weight: 700;
    line-height: 32px;
}

.services__text {
    color: rgb(153, 153, 153);
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    padding-top: 7px;
    max-width: 170px;
    min-height: 130px;
}

.plans {
    margin-top: 70px;
}

/* .plans__container {
    max-width: 310px;
    margin: 0 auto;
} */

.plans__block {
    display: flex;
}

.plans__inner {
    display: flex;
}

.plans__our {
    flex: 0 0 33.33%;
}

.plans__our__title {
    color: rgb(51, 51, 51);
    font-size: 56px;
    font-weight: 700;
    line-height: 64px;
}

.plans__our__text {
    color: rgb(153, 153, 153);
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    padding-top: 25px;
}

.plans__our__button button{
    padding: 13px 56px;
    border: 1px solid rgb(0, 118, 255);
    background: transparent;
    border-radius: 3px;
    color: rgb(0, 118, 255);
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    opacity: .3;
}

.plans__our__button button:hover {
    opacity: 1;
}

.plans__our__button {
    padding-top: 25px;
}

.plans__simple {
    display: flex;
    border: 1px solid rgb(238, 238, 238);
    border-radius: 7px;
    min-width: 370px;
    margin-left: 30px;
}
.plans__simple__inner {

}

.plans__simple__title {
    color: rgb(51, 51, 51);
    font-size: 21px;
    font-weight: 700;
    line-height: 32px;
    padding: 40px 202px 40px 32px;
}

.plans__simple-list {
    display: flex;
    flex-direction: column;
    gap: 8px;
    /* padding: 0 202px 40px 32px; */
    padding-left: 32px;
}

.plans__simple-item--yes {
    color: rgb(153, 153, 153);
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0px;
    text-align: left;
}

.plans__simple-item--yes:first-child::after {
    content: url(../vpn/images/Path.svg);
    padding-left: 150px;
}

.plans__simple-item--yes:nth-child(2)::after {
    content: url(../vpn/images/Path.svg);
    padding-left: 207px;
}

.plans__simple-item--yes:nth-child(3)::after {
    content: url(../vpn/images/Path.svg);
    padding-left: 164px;
}

.plans__simple-item--no {
    color: rgb(153, 153, 153);
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0px;
    text-align: left;
}

.plans__simple-item--no:nth-child(4)::after {
    content: url(../vpn/images/Path\ \(1\).svg);
    padding-left: 207px;
}

.plans__simple-item--no:nth-child(5)::after {
    content: url(../vpn/images/Path\ \(1\).svg);
    padding-left: 166px;
}


.plans__simple__button {
    /* padding: 0 202px 40px 32px; */
    padding-left: 32px;
    padding-top: 25px;
    padding-bottom: 50px;
}

.plans__simple__button button {
    border-radius: 3px;
    background: rgb(0, 118, 255);
    padding: 13px 77px;
    color: rgb(255, 255, 255);
    font-size: 14px;
    font-weight: 700;
    line-height: 24px;
}

.plans__enterprise {
    display: flex;
    border: 1px solid rgb(238, 238, 238);
    border-radius: 7px;
    min-width: 370px;
    margin-left: 30px;
}

.plans__enterprise-container {
    margin: 41px 30px;
}

.plans__enterprise__inner {
}

.plans__enterprise__title {
    color: rgb(51, 51, 51);
    font-size: 21px;
    font-weight: 700;
    line-height: 32px;
}

.plans__enterprise-list {
    display: flex;
    flex-direction: column;
    gap: 8px;
    padding-top: 40px;
}

.plans__enterprise-item {
    color: rgb(153, 153, 153);
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
}

.plans__enterprise-item:first-child::after {
    content: url(../vpn/images/Path\ \(1\).svg);
    padding-left: 150.5px;
}
.plans__enterprise-item:nth-child(2)::after {
    content: url(../vpn/images/Path\ \(1\).svg);
    padding-left: 207.5px;
}
.plans__enterprise-item:nth-child(3)::after {
    content: url(../vpn/images/Path\ \(1\).svg);
    padding-left: 165.5px;
}
.plans__enterprise-item:nth-child(4)::after {
    content: url(../vpn/images/Path\ \(1\).svg);
    padding-left: 209px;
}
.plans__enterprise-item:nth-child(5)::after {
    content: url(../vpn/images/Path\ \(1\).svg);
    padding-left: 168px;
}

.plans__enterprise__button {
    padding-top: 25px;
    padding-bottom: 50px;
}

.plans__enterprise__button button {
    border-radius: 3px;
    background: rgb(0, 118, 255);
    padding: 13px 77px;
    color: rgb(255, 255, 255);
    font-size: 14px;
    font-weight: 700;
    line-height: 24px;
}

.calculate {
    margin-top: 80px;
}

.calculate__body {
    display: flex;
    padding-top: 70px;
}

.calculate__title {
    color: rgb(51, 51, 51);
    font-size: 52px;
    font-weight: 700;
    line-height: 64px;
    max-width: 480px;
}

.calculate__text {
    margin-left: 222px;
    color: rgb(153, 153, 153);
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    padding: 0;
    max-width: 470px;
    min-height: 99px;
}

.price {
    margin-top: 67px;
}

.price__block {
    display: flex;
    position: relative;
}

.price__invest {
    border: 1px solid rgb(238, 238, 238);
    border-radius: 7px;
    min-width: 370px;
}

.price__invest-title {
    color: rgb(51, 51, 51);
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 33%;
    text-transform: uppercase;
    padding-left: 32px;
    padding-top: 30px;
}

.price__invest-title span {
    padding-left: 20px;
}

.price__invest-price {
    padding-top: 28px;
    text-align: center;
    color: rgb(51, 51, 51);
    font-size: 45px;
    font-weight: 400;
    line-height: 64px;
}

.price__invest-text {
    text-align: center;
    color: rgb(51, 51, 51);
    font-size: 12px;
    font-weight: 700;
    line-height: 24px;
}

.price__invest-loader {
    background-color: #0076FF;
    max-width: 320px;
    height: 8px;
    margin-top: 35px;
    margin-left: 32px;
    margin-bottom: 35px;
}

.button {
    display: flex;
    position: absolute;
    left: 0;
    top: 380px;
    border-radius: 3px;
    background: rgb(0, 118, 255);
    color: #fff;
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    padding: 13px 117px;
}

.button:hover {
    opacity: .6;
}

.price__profit {
    border: 1px solid rgb(238, 238, 238);
    border-radius: 7px;
    min-width: 775px;
    margin-left: 35px;
}

.price__profit-title {
    color: rgb(51, 51, 51);
    font-family: DM Sans;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 33%;
    text-transform: uppercase;
    padding-top: 30px;
    padding-left: 32px;
}

.price__profit-title span {
    padding-left: 20px;
}

.price__profit-text-title1 {
    padding-top: 30px;
    padding-left: 72px;
    color: rgb(51, 51, 51);
    font-size: 24px;
    font-weight: 700;
    line-height: 32px;
}

.price__profit-text-title2 {
    padding-top: 30px;
    padding-left: 72px;
    color: rgb(51, 51, 51);
    font-size: 24px;
    font-weight: 700;
    line-height: 32px;
}

.price__profit-text-title3 {
    padding-top: 30px;
    padding-left: 72px;
    color: rgb(51, 51, 51);
    font-size: 24px;
    font-weight: 700;
    line-height: 32px;
}

.price__profit-text {
    padding-left: 72px;
    color: rgb(153, 153, 153);
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
}

.price__profit-text--1 {
    padding-left: 72px;
    color: rgb(153, 153, 153);
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    padding-bottom: 40px;
}

.price__profit-text-title1::after {
    content: url(../vpn/images/plus.svg);
    margin-left: 300px;
}

.price__profit-text-title2::after {
    content: url(../vpn/images/plus.svg);
    margin-left: 520px;
}

.price__profit-text-title3::after {
    content: url(../vpn/images/plus.svg);
    margin-left: 551.5px;
}

.footer {
    margin-top: 200px;
}

.footer__inner {
    display: flex;
    justify-content: space-between;
}

.footer__list {
    display: flex;
    gap: 80px;
}

.footer__item {
    color: rgb(30, 30, 30);
    font-size: 14px;
    font-weight: 600;
    line-height: 21px;
}

.footer__item:hover {
    opacity: .5;
}

.footer__link {
}

.footer__down {
    margin-top: 170px;
}

.footer__down-inner {
    display: flex;
    justify-content: space-between;
}

.footer__down-list {
    display: flex;
    gap: 35px;
}

.footer__down-socials {
    display: flex;
    padding-bottom: 50px;
    gap: 8px;
}

.footer__down-socials:hover {
    opacity: .5;
}

.footer__down-link {
}

.footer__down-socials-item {

}